<html lang="zh-TW">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="google-signin-client_id" content="99086215430-svjvpuet6tdsgq62k756o1a9f5jngp4e.apps.googleusercontent.com">
    <title>跳躍吧！元元！</title>
    <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
    <style>
        body{
            display: flex;
            flex-direction: column;
            align-items: center;
            margin: 0px;
        }
        .v-application--wrap{
            min-height: auto !important;
        }
    </style>
    <script src="https://cdn.jsdelivr.net/npm/p5@1.4.0/lib/p5.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
    <script src="https://accounts.google.com/gsi/client" async defer></script>
    <script>
        const LEADERBOARD_URL = 'https://script.google.com/macros/s/AKfycbyTNqkMTSU4e4wTB-WageGn6NIX5ec7TftGRi3IZ_YEo9iKZ4n21ra1x0TWhAvHZpIjOQ/exec'
        const TOP = 460, JUMP_TIME = 1;
        const LEFT = 0, RIGHT = 1300, MAX_BEAST = 1, BEAST_WIDTH = 45, MAX_BEAST_CREATE_A_TIME = 12;
        const BOTTOM = 620;
        const MOVE_SEC_A = 0.03;
        const BOTTOM_BLOCK_SIZE = 40;
        const POINT_STRING_SIZE = 25;
        const BODY_ANIMATION_SPEED = 20;//每秒20倍
        const GAME_STATE = {
            STOP: 0,
            RUNING: 1,
            RELOADING: 2
        }

        const START_SOUND = [
            './sound/诶嘿～.mp3',
            './sound/轟隆隆隆隆衝衝衝衝拉風.mp3'
        ];
        const ADD_POINT = [
            './sound/やりますねぇ.mp3',
            './sound/啊呦～.mp3',
            './sound/唉呦3.mp3'
        ]
        const JUMP_SOUND = [
            './sound/哈↘！.mp3',
            './sound/賀↘！.mp3',
            './sound/輝！！.mp3',
            './sound/輝！.mp3',
            './sound/呼ㄟ.mp3',
        ];
        const OVER_SOUND = [
            './sound/啊～哈.mp3',
            './sound/啊～哈2.mp3',
            './sound/啊➚～～.mp3',
            './sound/啊➚～～2.mp3',
            './sound/啊～➚3.mp3',
            './sound/嗚啊～.mp3',
            './sound/嗚啊↘～～.mp3',
            './sound/痾訝～～～.mp3',
            './sound/痾嗚啊～.mp3'
        ];
        
        const BACKGROUND = [
            {
                url: './image/background1.png',
                height: 620,
                width: 1186,
            },
            {
                url: './image/background2.png',
                height: 620,
                width: 1026,
            },
            {
                url: './image/background4.png',
                height: 620,
                width: 1102,
            },
            {
                url: './image/background5.png',
                height: 620,
                width: 912,
            },
            {
                url: './image/background6.png',
                height: 620,
                width: 1024,
            },
            {
                url: './image/background7.png',
                height: 620,
                width: 784,
            },
            {
                url: './image/background8.png',
                height: 620,
                width: 585,
            },
            {
                url: './image/background9.jpg',
                height: 620,
                width: 465,
            },
            {
                url: './image/background10.png',
                height: 620,
                width: 894,
            },
            {
                url: './image/background11.png',
                height: 620,
                width: 998,
            },
            {
                url: './image/background12.png',
                height: 620,
                width: 638,
            },
            {
                url: './image/background13.png',
                height: 620,
                width: 911,
            },
            {
                url: './image/background3.jpg',
                height: 620,
                width: 1024,
            }
        ];
        const WET_ELEPHANT_BODY = [
            {
                imageUrl: './image/兆元1.png',
                paddingLeft: 0,
                paddingBottom: 28,
                paddingRight: 0
            },
            {
                imageUrl: './image/兆元2.png',
                paddingLeft: 0,
                paddingBottom: 30,
                paddingRight: 0
            },
            {
                imageUrl: './image/兆元3.png',
                paddingLeft: 8,
                paddingBottom: 8,
                paddingRight: 12
            },
            {
                imageUrl: './image/兆元4.png',
                paddingLeft: 10,
                paddingBottom: 0,
                paddingRight: 17
            },
            {
                imageUrl: './image/兆元5.png',
                paddingLeft: 0,
                paddingBottom: 10,
                paddingRight: 0
            },
            {
                imageUrl: './image/兆元6.png',
                paddingLeft: 0,
                paddingBottom: 27,
                paddingRight: 0
            }
        ];
        const WET_ELEPHANT_HEAD = [
            './image/兆元192.png',
            './image/兆元192_2.png'
        ];
        const BEAST_HEAD = './image/野獸先輩.png', BEAST_HEAD_HEIGHT = 45;
        const BEAST_HEAD_HEIGHT_LIST = [
            BEAST_HEAD_HEIGHT,
            BEAST_HEAD_HEIGHT * 2,
            BEAST_HEAD_HEIGHT * 3,
            BEAST_HEAD_HEIGHT * 4
        ]

        class WetElephant{
            constructor(x, y, width, height, color){
                this.x = x;
                this.y = y;
                this.height = height;
                this.width = width;
                this.color = color;
                this.heads = WET_ELEPHANT_HEAD.map(i => loadImage(i));
                this.bodys = WET_ELEPHANT_BODY.map(i => {
                    i.image = loadImage(i.imageUrl);
                    return i;
                });
                this.headIndex = 0;
            }
            getPadding(sec){
                var padding = this.bodys[parseInt(sec) % WET_ELEPHANT_BODY.length];
                return {
                    paddingLeft: padding.paddingLeft,
                    paddingBottom: padding.paddingBottom,
                    paddingRight: padding.paddingRight
                };
            }
            draw(sec){
                // fill(this.color.r, this.color.g, this.color.b);
                image(this.heads[this.headIndex], this.x - 5, this.y - 15, this.width + 10, this.height * 0.33 + 15);
                image(this.bodys[parseInt(sec) % WET_ELEPHANT_BODY.length].image ,this.x, this.y + this.height * 0.33, this.width, this.height * 0.66);
                // image(this.images[parseInt(sec) % 6], this.x, this.y, this.width, this.height);
            }
        }
        class Floor{
            constructor(x, y, width, height, color){
                this.x = x;
                this.y = y;
                this.height = height;
                this.width = width;
                this.color = color;
                this.originX = x
            }
            draw(){
                fill(this.color.r, this.color.g, this.color.b);
                rect(this.x, this.y, this.width, this.height);
            }
        }
        class Beast{
            constructor(x, y, width, height, color){
                this.x = x;
                this.y = y;
                this.height = height;
                this.width = width;
                this.color = color;
                this.head = loadImage(BEAST_HEAD);
            }
            draw(){
                let y = this.y;
                for(let i of Array(parseInt(this.height / BEAST_HEAD_HEIGHT)).keys()){
                    image(this.head, this.x, y, this.width, BEAST_HEAD_HEIGHT);
                    y += BEAST_HEAD_HEIGHT;
                }
            }
        }
        class Background{
            constructor(x, y, width, height, url){
                this.x = x;
                this.y = y;
                this.height = height;
                this.width = width;
                this.color = color;
                this.image = loadImage(url);
            }
            draw(){
                if(this.x < RIGHT)
                    image(this.image, this.x, this.y, this.width, this.height);
            }
        }

        (function(){
            var gameState = GAME_STATE.STOP;
            var beastQueue = [];
            var bottomBlocks = [];
            var backgroundQueue = [];
            var soundPlayer = new Audio();
            var point = 0, pointMessage = '';
            var moveLengthCoume;
            var wetElephant;
            var sec;
            var jumpAfterTime;
            var moveSec;
            var beastCaeateATime;//一次要建立幾排野獸
            var vueObj = null
            var playerData;
            
            function reset(){
                beastQueue = [];
                moveLengthCoume = 0;
                sec = 0;
                jumpAfterTime = -1;
                moveSec = 420;
                beastCaeateATime = 4;
                point = 0;
                wetElephant.headIndex = 0;
                pointMessage = '';
                let x = 0;
                for(let i of backgroundQueue){
                    i.x = x;
                    x += i.width;
                }
            }

            
            function getJumpX(time){
                var y = -((time - JUMP_TIME / 2)**2);
                y *= 1000;//將函數放大1000倍
                y += 250;//當跳躍時間只有一秒時，第-0.5秒與0.5秒時的y座標等於-250
                return y;
            }
            function moveAndRemoveBeast(dt, beastQueue){
                var distance = moveSec * dt;
                if(beastQueue.length > 0){
                    if(beastQueue[0].length == 0){
                        beastQueue.shift();
                    }else if( parseInt(beastQueue[0][beastQueue[0].length - 1].x) < -BEAST_WIDTH){
                        point++;
                        playSubd(ADD_POINT[parseInt(random(0, ADD_POINT.length))]);
                        beastQueue.shift();
                    }
                }
                for(let i of beastQueue){
                    for(let j of i){
                        j.x -= distance;
                    }
                }
                return distance;
            }
            function createBeast(beastQueue){
                var beastList = [];
                var right = RIGHT;
                var quantity = Math.min(parseInt(beastCaeateATime), MAX_BEAST_CREATE_A_TIME);
                for(let i = 0; i < quantity; i++){
                    if(parseInt(random(0 ,2))){
                        right += BEAST_WIDTH;
                        continue;
                    }
                    let height = BEAST_HEAD_HEIGHT_LIST[parseInt(random(0, BEAST_HEAD_HEIGHT_LIST.length))]
                    let beast = new Beast(right, BOTTOM - height, BEAST_WIDTH, height, {
                        r: 0,
                        g: 128,
                        b: 0
                    });
                    right += BEAST_WIDTH;
                    beast.draw();
                    beastList.push(beast);
                }
                beastQueue.push(beastList);
            }
            function collisionCheck(dt, beastQueue){
                if(beastQueue.length > 0){
                    let wetElephantPadding = wetElephant.getPadding(dt);
                    // console.log(wetElephantPadding)
                    // fill('rgba(255, 255, 255, 0.53)');
                    // rect(wetElephant.x + wetElephantPadding.paddingLeft, wetElephant.y, wetElephant.width - wetElephantPadding.paddingRight, wetElephant.height - wetElephantPadding.paddingBottom)
                    for(let i of beastQueue[0]){
                        if(
                            ((wetElephant.x + wetElephantPadding.paddingLeft) < (i.x + i.width) && (wetElephant.x + wetElephant.width - wetElephantPadding.paddingRight) > i.x)
                            &&
                            (wetElephant.y + wetElephant.height - wetElephantPadding.paddingBottom) > i.y
                        )return true;
                    }
                }
                return false;
            }
            function random(start, end){
                var height = end - start;
                return Math.random() * height + start
            }
            function moveBottomBlock(dt, bottomBlock){
                var distance = moveSec * dt;
                if(bottomBlock[0].x + distance > -BOTTOM_BLOCK_SIZE){
                    for(let i of bottomBlock){
                        i.x -= distance;
                    }
                }else{
                    for(let i of bottomBlock){
                        i.x = i.originX;
                    }
                }

            }
            function moveBackground(dt, backgroundQueue){
                var distance = (moveSec * dt) / 50;
                for(let i = 0; i < backgroundQueue.length; i++){
                    if(backgroundQueue[i].x + backgroundQueue[i].width <= 0){
                        let leftItemIndex = (i + backgroundQueue.length - 1) % backgroundQueue.length;
                        backgroundQueue[i].x = backgroundQueue[leftItemIndex].x + backgroundQueue[leftItemIndex].width - distance;
                    }else{
                        backgroundQueue[i].x -= distance;
                    }
                }
            }
            function playSubd(url){
                soundPlayer.src = url;
                soundPlayer.play();
            }
            function jump(){
                if(gameState != GAME_STATE.RELOADING){
                    if(gameState == GAME_STATE.STOP){
                        reset();
                        gameState = GAME_STATE.RUNING;
                        playSubd(START_SOUND[parseInt(random(0, START_SOUND.length))]);
                        jumpAfterTime = 0;
                    }else if(jumpAfterTime == -1){
                        playSubd(JUMP_SOUND[parseInt(random(0, JUMP_SOUND.length))]);
                        jumpAfterTime = 0;
                    }
                    console.log('跳');
                }
            }
            document.addEventListener('keypress', function(e){
                if(e.code == 'Space'){
                    e.preventDefault();
                    jump();
                }
            });


            window.setup = function() {
                createCanvas(RIGHT, BOTTOM + BOTTOM_BLOCK_SIZE)
                    .parent('p5-canvas')
                    .style('width', '100%')
                    .style('height', 'auto')
                    .canvas
                    .addEventListener('mousedown', function(e){
                        if(e.button == 0){
                            jump();
                        }
                    });
                wetElephant = new WetElephant(15, TOP, 50, 160, {
                    r: 0,
                    g: 0,
                    b: 0
                });
                wetElephant.draw(0);
                var blockQuantity = parseInt(RIGHT / BOTTOM_BLOCK_SIZE) + 2
                for(let x = 0; x < blockQuantity * BOTTOM_BLOCK_SIZE; x += BOTTOM_BLOCK_SIZE){
                    let b = new Floor(x, BOTTOM, BOTTOM_BLOCK_SIZE, BOTTOM_BLOCK_SIZE, {
                        r: 128,
                        g: 100,
                        b: 0
                    });
                    b.draw();
                    bottomBlocks.push(b);
                }
                let x = 0;
                for(let i of BACKGROUND){
                    let b = new Background(x, 0, i.width, i.height, i.url);
                    b.draw();
                    backgroundQueue.push(b);
                    x += i.width;
                }
            };

            window.draw = function() {
                backgroundQueue.forEach(i => i.draw());
                fill('rgba(255, 255, 255, 0.53)');
                rect(0, 0, RIGHT, BOTTOM);
                bottomBlocks.forEach(i => i.draw());
                beastQueue.flatMap(i => i).forEach(i => i.draw());
                fill(0, 0, 0);
                textSize(POINT_STRING_SIZE);
                let pointStr = `得分：${point}`
                text(pointStr, RIGHT / 2 - POINT_STRING_SIZE * pointStr.length / 2, POINT_STRING_SIZE);
                fill(255, 0, 0);
                textSize(POINT_STRING_SIZE);
                text(pointMessage, RIGHT / 2 + POINT_STRING_SIZE * pointStr.length / 2, POINT_STRING_SIZE);
                if(gameState != GAME_STATE.RUNING) {
                    wetElephant.draw(0);
                    fill(0, 0, 0);
                    textSize(32);
                    textStyle(BOLD);
                    text('按空白鍵或點擊遊戲畫面開始', RIGHT / 2 - 32 * 13 / 2, BOTTOM / 2);
                    return;
                }
                var dt = deltaTime / 1000;//毫秒轉秒
                wetElephant.draw(sec * BODY_ANIMATION_SPEED);
                sec += dt;
                
                if(jumpAfterTime != -1){
                    wetElephant.y = TOP - parseInt(getJumpX(jumpAfterTime));
                    jumpAfterTime += dt;
                    if(jumpAfterTime > JUMP_TIME){
                        jumpAfterTime = -1;
                        wetElephant.y = TOP;
                    }
                }
                moveLengthCoume += moveAndRemoveBeast(dt, beastQueue);
                if(moveLengthCoume >= RIGHT / MAX_BEAST){
                    createBeast(beastQueue);
                    moveLengthCoume = 0;
                }
                beastCaeateATime += dt / 80;
                moveBackground(dt, backgroundQueue);
                moveBottomBlock(dt, bottomBlocks);
                if(collisionCheck(sec * BODY_ANIMATION_SPEED, beastQueue)){
                    var localMaxPoint = parseInt(localStorage.point ?? 0);
                    console.log('撞');
                    playSubd(OVER_SOUND[parseInt(random(0, OVER_SOUND.length))]);
                    wetElephant.headIndex = 1;
                    gameState = GAME_STATE.RELOADING;
                    if(point > localMaxPoint){
                        localStorage.point = point;
                        pointMessage = '刷新紀錄！'
                        if(vueObj.$data.playerData){
                            if(!vueObj.updateLeaderboardMaxPoint()){
                                pointMessage = '';
                            }
                        }else{
                            pointMessage += "登入下面的排行榜看看自己第幾名吧！"
                        }
                    }
                    setTimeout(() => {
                        gameState = GAME_STATE.STOP;
                    }, 1000);
                }
                moveSec += MOVE_SEC_A;
            };


            function getLeaderboard(){
                return fetch(LEADERBOARD_URL)
                        .then((response) => response.json())
                        .then((json) => json);
            }
            function setLeaderboard(email, playerName, point){
                var queryParams = new URLSearchParams();
                if(email)
                    queryParams.append('email', email);
                if(playerName)
                    queryParams.append('playerName', playerName);
                if(point)
                    queryParams.append('point', point);
                return fetch(LEADERBOARD_URL + '?' + queryParams.toString())
                        .then((response) => response.json())
                        .then((json) => json);
            }
            function parseJwt (token) {
                var base64Url = token.split('.')[1];
                var base64 = base64Url.replace(/-/g, '+').replace(/_/g, '/');
                var jsonPayload = decodeURIComponent(atob(base64).split('').map(function(c) {
                    return '%' + ('00' + c.charCodeAt(0).toString(16)).slice(-2);
                }).join(''));

                return JSON.parse(jsonPayload);
            };
            
            window.onload = function(){
                vueObj = new Vue({
                    el: '#leaderboard',
                    vuetify: new Vuetify(),
                    data: {
                        playerData: null,
                        leaderboard: [],
                        playerName: '',
                        playerNameEerror: '',
                        showLeaderboard: false,
                        myLeader: -1
                    },
                    methods: {
                        async updateLeaderboardMaxPoint(){
                            var localMaxPoint = parseInt(localStorage.point ?? 0);
                            var inLeaderboardMaxPoint = this.leaderboard.find(i => i.email == this.playerData.email)?.point ?? 0;
                            if(localMaxPoint > inLeaderboardMaxPoint){
                                this.leaderboard = await setLeaderboard(this.playerData.email, this.playerData.name, localStorage.point);
                                return true;
                            }else{
                                localStorage.point = inLeaderboardMaxPoint;
                                return false;
                            }
                        },
                        async updateLeaderboard(){
                            this.leaderboard = [];
                            this.leaderboard = await ((this.playerData?.email)
                                ? setLeaderboard(this.playerData.email, this.playerData.name)//順便更新玩家名稱
                                : getLeaderboard()
                            );
                        },
                    },
                    computed:{
                    },
                    watch:{
                    },
                    async mounted(){
                        this.leaderboard = await getLeaderboard();
                    }
                });

                // gapi.auth2.getAuthInstance().currentUser.listen(function(data){
                //     console.log(data);
                // })
            };
            window.onSignIn = function(googleUser){
                if(vueObj.$data.playerData != null){//防止一個帳號的最高分數繼承到另一個帳號上
                    localStorage.removeItem('point');
                }
                vueObj.$data.playerData = parseJwt(googleUser.credential);
                vueObj.updateLeaderboardMaxPoint();
            }
        })();
    </script>
</head>
<body>
    <div id="p5-canvas"></div>
    <span style="font-size: 25px;">按下空白鍵或點擊遊戲畫面，讓元元越過野獸先輩們吧！</span>
    <div style="display: flex; align-items: center;">
        <div id="g_id_onload"
            data-client_id="99086215430-svjvpuet6tdsgq62k756o1a9f5jngp4e.apps.googleusercontent.com"
            data-context="signin"
            data-ux_mode="popup"
            data-callback="onSignIn"
            data-auto_select="true">
        </div>
        <div class="g_id_signin"
            data-type="standard"
            data-size="large"
            data-theme="outline"
            data-text="sign_in_with"
            data-shape="rectangular"
            data-logo_alignment="left">
        </div>
        <samp><samp>👈🏼</samp>點擊這裡加入排行榜</samp>
    </div>
    <div id="leaderboard" style="display: flex; flex-direction: column; align-items: center;">
        <v-app id="inspire">
            <v-dialog v-model="showLeaderboard">
                <template v-slot:activator="{ on, attrs }">
                  <v-btn color="primary" dark  v-bind="attrs" v-on="on">
                  排行榜
                  </v-btn>
                </template>
                <v-card>
                    <v-card-title class="text-h5">
                        排行榜
                        <v-tooltip bottom>
                            <template v-slot:activator="{ on, attrs }">
                                <v-btn icon @click="updateLeaderboard" v-bind="attrs" v-on="on">
                                    <v-icon>mdi-sync</v-icon>
                                </v-btn>
                            </template>
                            <span>更新排行榜</span>
                        </v-tooltip>
                    </v-card-title>
                    <v-card-text>
                        <div v-if="myLeader != -1">
                            {{playerData.name}}，你目前第{{myLeader}}名
                        </div>
                        <v-simple-table>
                            <template v-slot:default>
                                <thead>
                                <tr>
                                    <td>
                                        排名
                                    </td>
                                    <td>
                                        玩家
                                    </td>
                                    <td>
                                        分數
                                    </td>
                                </tr>
                                </thead>
                                <tbody>
                                <tr v-for="(item, index) in leaderboard" :key="item.email" :style="{'background-color': item.email == playerData?.email? '#ffffa0': '#00000000'}">
                                    <td>
                                        <template v-if="item.email == playerData?.email">
                                            {{myLeader = index + 1}}
                                        </template>
                                        <template v-else>
                                            {{index + 1}}
                                        </template>
                                    </td>
                                    <td>
                                        {{item.playerName}}
                                    </td>
                                    <td>
                                        {{item.point}}
                                    </td>
                                </tr>
                                </tbody>
                            </template>
                        </v-simple-table>
                    </v-card-text>
                    <v-card-actions>
                        <v-spacer></v-spacer>
                        <v-btn color="green darken-1" text @click="showLeaderboard = false">
                        關閉
                        </v-btn>
                    </v-card-actions>
                </v-card>
              </v-dialog>
        </v-app>
    </div>
</body>
</html>